body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.title{
  text-align: center;
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  float: left;
  font-weight: bold;
}

.arrow {
  border: solid #0082c8;
  border-width: 0 0.125rem 0.125rem 0;
  display: inline-block;
  padding: 0.1rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.topnav {
  padding-right: 1.3rem;
  float: right;
}

.topnav a {
  color: black;
  float: left;
  text-align: center;
  padding: 2rem 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
}

.topnav a:hover {
  background-color: #0082c8;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: #0082c8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 1rem 1rem;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  border: none;
  text-transform: uppercase;
}

.chosendropbtn {
  background-color: white;
  color: #0082c8;
  padding: 1rem 1rem;
  font-size: 1.3rem;
  border: none;
  text-transform: uppercase;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#f1f1f1;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 1.3rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown-content a:hover {background-color: #f1f1f1; color: #0082c8;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#0082c8; color: white;}

.content {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  color: black;
}

h2 {
  margin: 0;
  padding-bottom: 0.6rem;
  font-size: 1.4rem;
  color: #0082c8;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  font-weight: bold;
}

ul {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 150%;
}

table {
  border-collapse: collapse;
  margin-top: 0.25rem;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1rem;
}

td,th {
  border: 1.5px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.paragraph {
  font-size: 1rem;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 150%;
}

.secondparagraph {
  font-size: 1rem;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  line-height: 150%;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.3%;
}